<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>com.servlet.ServletLogin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletRegistration</servlet-name>
		<servlet-class>com.servlet.ServletRegistration</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletRegistration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ServletWelcome</servlet-name>
		<servlet-class>com.servlet.ServletWelcome</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletWelcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletAddUserPage</servlet-name>
		<servlet-class>com.servlet.ServletAddUserPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletAddUserPage</servlet-name>
		<url-pattern>/addUserPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletModeratorPage</servlet-name>
		<servlet-class>com.servlet.ServletModeratorPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletModeratorPage</servlet-name>
		<url-pattern>/moderatorPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletAdminPage</servlet-name>
		<servlet-class>com.servlet.ServletAdminPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletAdminPage</servlet-name>
		<url-pattern>/adminPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletLogout</servlet-name>
		<servlet-class>com.servlet.ServletLogout</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletLogout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletUpdateUser</servlet-name>
		<servlet-class>com.servlet.ServletUpdateUser</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletUpdateUser</servlet-name>
		<url-pattern>/updateUserPage</url-pattern>
	</servlet-mapping>


	<resource-ref>
		<description>MySQL Datasource example</description>
		<res-ref-name>jdbc/myconn</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


</web-app>